<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    

<div class="container">
    <h2>All Complaints</h2>
    <input type="text" id="searchInput" placeholder="Search complaints..." onkeyup="searchComplaints()">
    <div class="stats">
    <div class="stat-card total">
        <h3>Total</h3>
        <p>{{ total }}</p>
    </div>

    <div class="stat-card pending">
        <h3>Pending</h3>
        <p>{{ pending }}</p>
    </div>

    <div class="stat-card resolved">
        <h3>Resolved</h3>
        <p>{{ resolved }}</p>
    </div>
</div>

    <a href="/logout">
        <button class="logout-btn">Logout</button>
    </a>

    <hr>

<div class="complaints-scroll">
{% for c in complaints %}
<div class="complaint-card">

    <p><b>ID:</b> {{ c.id }}</p>
    <p><b>Name:</b> {{ c.name }}</p>
    <p><b>Department:</b> {{ c.department }}</p>
    <p><b>Location:</b> {{ c.location }}</p>
    <p><b>Category:</b> {{ c.category }}</p>
    <p><b>Description:</b> {{ c.description }}</p>
    <p>
    <b>Status:</b> 
    <span class="status {{ c.status|lower }}">
    {{ c.status }}
    </span>
    </p>

    
    

    
{% if c.image %}
<img src="/static/uploads/{{ c.image }}" width="200">
{% endif %}

</div>
{% endfor %}



    
        

            
        

<script>
function deleteComplaint(id) {
    fetch('/delete/' + id, { method: 'DELETE' })
    .then(res => res.json())
    .then(() => location.reload());
}

function updateStatus(id) {
    fetch('/update_status/' + id, { method: 'PUT' })
    .then(res => res.json())
    .then(() => location.reload());
}
function searchComplaints() {

let input = document.getElementById("searchInput").value.toLowerCase();

let complaints = document.querySelectorAll(".complaint-card");

complaints.forEach(card => {

let text = card.innerText.toLowerCase();

if(text.includes(input)){
card.style.display="block";
}else{
card.style.display="none";
}

});

}
</script>


</body>
</html>